<!DOCTYPE html>
<html>
	<head>
		<title>Hospital Assistent</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	</head>
	<body>
		<ul class="list-group">
			<li class="list-group-item">
				<form action="https://6p0oyiz6sh.execute-api.ap-southeast-2.amazonaws.com/v1/new_patient_html" method="POST" enctype="application/json">
					<div class="form-group">
						<label for="fname">Your name</label>
						<input class="form-control" name="name" required type="text" value="">
					</div>

					<div class="form-group">
						<label for="country">Illness</label>
						<input class="form-control" id="illness" name="illness" readonly="readonly" type="text" value="{{ .illness }}">
					</div>

					<div class="form-group">
						<label for="country">Level of Pain</label>
						<input class="form-control" id="painLevel" name="painLevel" readonly="readonly" type="text" value="{{ .pain_level }}">
					</div>

					<div class="form-group">
						<label for="country">Hospital</label>
						<input class="form-control" id="hospital" name="hospital" readonly="readonly" type="text" value="{{ .hospital }}">
					</div>

					<input type="submit" value="Submit" />
				</form>
			</li>
		</ul>
	</body>
</html>